.agrs {
    position: absolute;
    top: 190px;
    left: 60px;
}

.agrs2 {
    position: absolute;
    top: 220px;
    left: 80px;
}

.agrs3 {
    position: absolute;
    top: 220px;
    left: 100px;
}

.imgs1 {
    position: absolute;
    top: 55px;
    left: 20px;
}

.imgs2 {
    position: absolute;
    top: 15px;
    left: 50px;
}