#agrs {
    position: absolute;
    top: 230px;
    left: 50px;
}

#agrs2 {
    position: absolute;
    top: 260px;
    left: 94px;
}

#agrs3 {
    position: absolute;
    top: 250px;
    left: 74px;
}

#imgs1 {
    position: absolute;
    top: 25px;
    left: 50px;
}

#imgs2 {
    position: absolute;
    top: 60px;
    left: 27px;
}