#descripcionProductoDiv {
    order: 2;
    /* Cambia el orden del elemento */
    margin-left: auto;
    margin-top: 20px;
    /* Ajusta el margen superior según tus necesidades */
    width: 80%;
}

#descripcionProducto {
    height: 200px;
    /* Ajusta la altura del campo de entrada según tus necesidades */
}