.nav-link {
    font-family: 'Comfortaa', regular;
}

.custom-container {
    background-color: #f3f3f3;
    /* Cambia el color a tu preferencia */
    width: 800px;
    height: 800px;
    /* Relleno interior */
    border-radius: 20px;
    /* Bordes redondeados */
    position: absolute;
    left: 530px;
    /* Ajusta según sea necesario para la posición horizontal */
    top: 65px;
}
 
.Logos{
width: 150px;
}
