.my-custom-column {
    margin-top: 3px;
    float: left;
    max-width: 190px; /* Ajusta el ancho máximo según tus necesidades */
}

.my-form {
    width: 900px; /* Ajusta el ancho máximo según tus necesidades */
    height: 750px;
}

#my_forms{
    width: 1000px;
    position: relative;
    right: 180px;
}

.my-espe{
    position: absolute;
    margin-top: 200px;
}

.my-from{
    position: absolute;
    margin-top: 290px;
}

.my-exist{
    position: absolute;
    margin-top: 480px;
}

.my-cat{
   
}

.my-btn{
    position: absolute;
    margin-top: 570px;
    left: 350px;
}

.my-pant{
    position: absolute;
    margin-top: 290px;
}

.my-trase{
    position: absolute;
    margin-top: 390px;
}

.my-capa{
   
}
.my-siste{

}